.content{
  margin:1em;
}
.thermostat{
  height: 110px;
  background-color: white;
  width: 150px;
}
.up-thermo{
  height: 30px;
  background-color: white;
}

.med-thermo{
  height: 50px;
}

.down-thermo{
  height: 30px;
  background-color: white;
}
.dots{
  text-align: center;
  letter-spacing: 0.5em;
}
.wifi{
  margin-top:0.5em;
  margin-right: 0.5em;
  float: right;
}
