.content{
  margin:1em;
}
.thermostat{
  height: 90px;
  background-color: white;
  width: 120px;
  padding-top: 1em;
  border-radius: 20%;
}
.up-thermo{
  background-color: white;
}

.med-thermo{

}

.down-thermo{
  background-color: white;
}
.dots{
  text-align: center;
  letter-spacing: 0.5em;
}
.wifi{
  margin-top:0.5em;
  margin-right: 1em;
  float: right;
}
