.content{
  margin:1em;
}
.thermostat{
  height: 90px;
  background-color: white;
  width: 120px;
  padding-top: 1em;
  border-radius: 20%;
}
.up-thermo{
  background-color: white;
}
.med-thermo{

}
.down-thermo{
  background-color: white;
}
.dots{
  text-align: center;
  letter-spacing: 0.5em;
}
.wifi{
  margin-top:0.5em;
  margin-right: 1em;
  float: right;
}
.coach, .outlet, .painting, .cigar, .table, .vela{
  position: absolute;
}
.coach{
  width: 30em;
  height: 15em;
  margin-left: 10em;
  margin-top: 8em;
}
.outlet{
  margin-top: 20em;
  margin-left: 3em;
  width: 5em;
  height: 3em;
}
.painting{
  width: 8em;
  height: 10em;
  margin-left: 30em;
}
.cigar{
  width: 3em;
  height:1em;
  margin-top: 16em;
  margin-left: 11em;
}
.links{
  position: absolute;
  bottom: 0;
  left:0;
}
.btnInit{
  margin-top:2em;
  margin-left: 1em;
}
.table{
  margin-top: 10em;
  margin-left: 30em;
  width: 9em;
  height: 10em;
}
.vela{
  margin-top: 9.5em;
  margin-left: 32em;
  width: 1.5em;
  height: 2.5em;
}
