<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link rel="stylesheet" type="text/css" href="style/thermostat.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui bottom attached segment pushable">
      <div class="ui visible  left vertical sidebar menu">
        <img class="ui centered small image" src="img/avatar.png" id="avatar"/>
        <h4 class="ui  center aligned grey header" > Daniel Santos </h4>
        <div class="content-menu">
          <h4> Parametros </h4>
          <div>
            <div>
              <h5> Velocidad de propagación </h5>
              <input  type="range" name="points" min="0" max="10"/>
            </div>
          </div>
          <h5> Causas de incendio </h5>
          <div>
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>Cigarrillo</label>
            </div>
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>Toma Electrica</label>
            </div>
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>Vela</label>
            </div>
          </div>
          <div class="btnInit">
            <button class="ui blue button ">Iniciar Simulación</button>
          </div>
        </div>
        <div class="links">
          <a class="item">
          Acerca del proyecto
          </a>
          <a class="item">
          Obtener más información
          </a>
        </div>
      </div>
      <div class="pusher content-body">
        <div class="content">
          <div class="thermostat">
            <div class="up-thermo">
              <i class="fa fa-wifi wifi" aria-hidden="true"></i>
            </div>
            <div class="med-thermo">
                <h1 class="ui  center aligned black header"> 17&deg;C </h1>
            </div>
            <div class="down-thermo">
              <div class="dots">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="electric-outlet">
            <img src="img/toma.png" class="outlet"/>
          </div>
          <div class="cigar">
            <img src="img/cigar.png" class="cigar"/>
          </div>
          <div class="painting">
            <img src="img/photo_frame.png" class="painting"/>
          </div>
          <div class="table">
            <img src="img/table_night.png" class="table"/>
          </div>
          <div class="vela">
            <img src="img/vela.png" class="vela"/>
          </div>
          <div class="coach">
            <img src="img/sofa.png" class="coach"/>
          </div>
        </div>
    </div>
    <script src="script/index.js"></script>
  </body>
</html>
